<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bookrack">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>书架</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stack">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>书库</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lead">
      <ion-icon name="aperture-outline"></ion-icon>
      <ion-label>领读</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="person">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
